@font-face {
  font-family:"Montserrat";
  font-weight:  normal;
  font-style:  normal;
  src: url("Montserrat-Regular.woff2") format("woff2"),
  url("Montserrat-Regular.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  font-style: normal;
  src: url("Montserrat-Bold.woff2") format('woff2');
  src: url("Montserrat-Bold.woff") format('woff');
}